{% extends "index.html" %}
{% block content %}
<div class="grid-container">
    <div class="container">
        <div class="item1"><img src="../static/img/login1.png" width="320"></div>
        <div class="item2"><img src="../static/img/login2.png" width="200"></div>
        <div class="item3"><img src="../static/img/login3.png" width="260"></div>


        <div class="login-box">
            <h3 style="font-family: 'Irish Grover', cursive;">Login</h3>
            <form>
                <p><input type="email" placeholder="Enter your Email" required></p>
                <input type="password" placeholder="Enter a Password" required>
                <p><button class="box" type="submit">Log In</button></p>
            </form>
            <p style="font-size: 0.9rem;">Forgot Password? <a href="#">Reset your password</a></p>
            <p>or</p>
            <button class="google-login">
                <img src="../static/img/google-logo.png" alt="Google"> Continue with Google
            </button><p></p>

            <p style="font-size: 0.9rem;">New to LearnQuest? <a href="#">Sign up here</a></p>
        </div>
    </div>
</div>
{% endblock %}
